{# empty Twig template #}
<div class="main-content">
    <div class="container">
        <section class="section">
                <div class="the-title clearfix">
                        <h4>Dự án khác</h4>
                </div>
                <ul class="row articles-list list-unstyled" id="index-list-container">
                    {%if total > limit%}
                    <input type="hidden" value="{{page}}" id="index-page">
                    {%endif%}
                    {% for key,val in normal %}
                        <li class="col-md-4 col-sm-6">
                                <article class="article-item">
                                        <div class="thumb-img">
                                                <a href="{{ url('movie/index',{'slug':val.slug})|raw}}">
                                                        <img src="{{val.imagepath}}" alt="" />
                                                </a>
                                        </div>
                                        <div class="article-summary">
                                                <h4 class="article-title">
                                                    <a href="{{ url('movie/index',{'slug':val.slug})|raw}}">{{ val.name }}
                                                    </a></h4>
                                                <div class="summary">
                                                    <p>{{ val.short_description }}
                                                    </p></div>
                                                <div class="article-meta">
                                                        <i class="icons icon-cam"></i> {% if val.type == 1 %}
                                                    {{'Phim'}}
                                                    {% else %}
                                                        {{'Quảng cáo'}}
                                                    {% endif %}
                                                    <br />
                                                        <i class="icons icon-person"></i> {{ val.join }} người tham gia &nbsp;&nbsp; <i class="icons icon-clock"></i> Còn {{val.leftdate}} ngày
                                                </div>
                                        </div>
                                </article>
                        </li>
                    {% endfor %}    
                </ul>
        </section>
                {%if total > limit%}
        <div class="text-center">
            <a href="javascript:void(0)" onclick="loadMore('/index/more-view/','index-list-container','index-page')" id="more-button" class="btn btn-dark btn-load-more">XEM THÊM</a></div>
            {%endif%}
    </div>
</div>