{% if playListHot|length >0 %}
    <div class="col-sm-6 col-md-7">
            <div class="mdl-1 mdl-playlist-nominations">
              <div class="title">
                  <a {{ ajax_url('playlist/list', {'slug':'playlist-hot'})|raw }} class="txt"> Playlist đề cử</a>
                  <a {{ ajax_url('playlist/list', {'slug':'playlist-hot'})|raw }} class="pull-right view-all"></a>
              </div>
               <div class="row row-carousel">
               	  <div class="owl-carousel">
                    {% for key,val in playListHot %}
                      <div class="col-xs-12 col-sm-6 col-md-4">
                            <a {{ ajax_url('playlist/detail',{'slug':val.slug})|raw }} class="image-play">
                              <img width="100%" src="{{ val.image_path|imagePathThumb(171) }}"></a>
                            <a {{ ajax_url('playlist/detail',{'slug':val.slug})|raw }} class="song-name ellipsis">{{ val['name'] }}</a>
                            <p class="singer-name ellipsis"><a {{ ajax_url('playlist/detail',{'slug':val.slug})|raw }}>{{ val.singers | getSingerNameJson }}</a></p>
                      </div>
                    {% endfor %}
                  </div>
               </div>
        </div>
    </div>
{% endif %}
