<script>
    var homeSingerSliderWidth = 88;
</script>
{% if getListSingerHot|length >0 %}
<div class="col-sm-6 col-md-7">
        <div class="mdl-1 mdl-artist">
          <div class="title">
              <a {{ ajax_url('singer/index',{'slug':'ca-si-hot'})|raw }} class="txt">Nghệ sĩ nổi bật</a>
              <a {{ ajax_url('singer/index',{'slug':'ca-si-hot'})|raw }} class="pull-right view-all"></a>
          </div>
          <div class="row row-carousel">
          	<div class="owl-carousel">
              {% for val in getListSingerHot %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <a {{ ajax_url('singer/detail',{'slug':val.slug})|raw }} class="image">
                    <img src="{{ val.image_path|imagePathThumb(106) }}" width="100%" class="img-circle"/>
                  </a>
                  <a {{ ajax_url('singer/detail',{'slug':val.slug})|raw }} class="song-name ellipsis">{{ val.alias }}</a>
                </div>
              {% endfor %}
             </div>
          </div>
        </div>
    </div>
{% endif %}
