<div class="mdl-1 mdl-video-nominations">
             <div class="title">
                  <a href="javascript:void(0)" class="txt"> Videos</a>
            </div>
              <div class="row">
                {% for val in listVideo %}
                <div class="col-xs-6 col-md-4 item">
                    <a href="{{ url('video/detail', {'slug' : val.slug}) }}" class="image-play">
                        <img width="100%" src="{{ val.image_path|imagePathThumb(116, 65, 'video') }}">
                        <i class="fa icon-play"></i>
                    </a>
                    <a href="{{ url('video/detail', {'slug' : val.slug}) }}" class="song-name ellipsis">
                      {{val.name}}</a>
                    <p class="singer-name ellipsis"><a href="{{ url('video/detail', {'slug' : val.slug}) }}">{{val.getSingerName()}}</a></p>
                </div>
                {% endfor %}
             </div>
      </div>
