<div class="container">
  <div class="row">

    {{include('_genres.twig',{'listGenre':listGenre})}}

    <div class="col-sm-9 col-md-9">
	    <div class="">
        <div class="mdl-1 mdl-artist">
          <div class="title">
              <a href="javascript:void(0)" class="txt">Nghệ sĩ nổi bật</a>
          </div>
          <div class="row">
          {% for val in singer %}
            <div class="col-xs-6 col-md-3">
              <a {{ ajax_url('singer/detail',{'slug':val.slug})|raw }}
              class="image"><img src="{{ val.image_path|imagePathThumb(141) }}" width="100%" class="img-circle"/></a>
              <a {{ ajax_url('singer/detail',{'slug':val.slug})|raw }} class="song-name ellipsis">{{val.alias}}</a>
            </div>
          {% endfor %}

          </div>
          {{include('@app/views/components/pagination.twig',{'pages':pages}) }}
        </div>
        </div>
    </div>
  </div>
</div>
