<div class="mdl-1 mdl-song-nominations reset-padding">
         <div class="title">
           <a href="javascript:void(0)" class="txt"> Bài hát</a>
         </div>
         <div id="playlist-data-play" data-play="{{ (url('ajax/get-topic-player',{'slug':topic.slug}))|encodeJsonNotSong(topic) }}"></div>
         <div class="scroll-pane horizontal-only">
             {% for val in listSong %}
                 {% set artist=val|getSingerNameBySong %}
                 {% set poster=val|getImagePathBySong %}
                 {% set posterBlur=val|getImageBlurPathBySong %}
                 <li class="hide-dot">
               <div class="media jp-playlist-item">
                 <div class="media-left song-in-list" id="song-{{ val.slug }}"
                     data-play="{{ val|encodeSongBase64(artist,poster,posterBlur) }}">
                   <a href="javascript:void(0)">
                     <img class="media-object" src="{{poster}}" width="48" alt="...">
                   </a>
                   <div class="mask" style="display:none">
                     <i class="fa icon-playing"></i>
                   </div>
                 </div>
                 <div class="media-body song-in-list">
                   <a href="javascript:void(0)" class="song-name ellipsis">{{val.name}}</a>
                   <p class="singer-name ellipsis"><a href="javascript:void(0)">{{artist}}</a></p>
                 </div>
                 <div class="media-right">
                   <div class="right-info right-info-2">
                       <span class="viewer"><i class="fa icon-headphone"></i><br>{{ (val.view_number=='' or val.view_number is null)?'0':val.view_number|formatNumber }}</span>
                       <span class="download"><i class="fa icon-download"></i><br>{{ (val.download_number=='' or val.download_number is null)?'0':val.download_number|formatNumber }}</span>
                       <!-- <span class="download"><i class="fa icon-gift"></i><br>1523</span> -->
                       <!-- <span data-target="#modal-popup" data-toggle="modal" class="link-more-mobile"> -->
                       <!-- <i class="fa icon-more"></i> -->
                     <!-- </span> -->
                   </div>
                 </div>
                 <div class="overlay">
                   <a href="javascript:void(0)" onclick="$(this).parent().parent().children('.media-left').click()" class="bg-color-01"><i class="fa icon-play2"></i></a>
                   <!-- <a href="javascript:void(0)" onclick="addToPlaylist('{{val.slug}}')" class="bg-color-02"><i class="fa icon-add-playlist"></i></a> -->
                   <!-- <a href="#" class="bg-color-03"><i class="fa icon-download"></i></a> -->
                   <a target="_blank" href="https://facebook.com/sharer.php?u={{ url('song/song-detail', {'slug' : val.slug}) }}" class="bg-color-04"><i class="fa icon-share"></i></a>
                 </div>
               </div>
             </li>
             {% endfor %}
        </div>
 </div>
