<div class="banner-02" style="background-image:url({{topic.image_path | imagePath}})">
  <div class="container">
    <div class="">
        <h1 class="name">{{topic.name}}
          {{include('@app/views/components/likeFacebook.twig',{'link':url('topic/detail',{'slug':topic.slug})}) }}
          <!-- <img src="/images/img_14.jpg"/> -->
        </h1>
        <!-- <p class="description">Tận hưởng những ngày hè sau một thời gian học tập căng thẳng cùng với âm nhạc.</p> -->
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
        <div class="col-sm-6 col-md-7">

           {{include('_song.twig',{'listSong':listSongTopic})}}

      	   {{include('_playlist.twig',{'playlists':playListHot})}}

      	   {{include('_video.twig',{'videos':listVideoHot})}}

        </div>

        <div class="col-sm-6 col-md-5">

             {{include('_hot.twig',{'listTopic':listTopic})}}

        </div>
  </div>

</div>
