{{ use('frontend/widgets/AwsPjax') }}
{{ use('frontend/assets/AppAsset') }}
{{ register_app_asset() }}
{{ begin_page() }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="#">
        <title>Home | casting</title>


        <meta charset="{{ app.charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        {{ html.csrfMetaTags() | raw }}
        {{ head() }}

    </head>
    <body>

        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=462996843754261";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div  id="wrapper">
            {{ begin_body() }}

            {% include "@app/views/components/header.twig" %}


            {{ content | raw }}


            {% include "@app/views/components/popups.twig" %}



            {{ end_body() }}
        </div>
        <script>
            {#            {{ 0 | prefixJavascript | raw }}#}
        </script>
    </body>
</html>

{{ end_page() }}
