<script>
    var homeVideoSliderWidth = 88;</script>
    {% set listLen = listVideoHot|length %}
        {% if(listLen>0) %}
  <div class="clearfix peer-line"></div>
    <div class="mdl-1 mdl-video-nominations">
    	    <div class="title">
              <a {{ ajax_url('video/index',{'slug':'video-hot'})|raw }} class="txt">Video đề cử</a>
              <a {{ ajax_url('video/index',{'slug':'video-hot'})|raw }} class="pull-right view-all"></a>
          </div>
          <div class="row row-carousel">
          	<div class="owl-carousel">
              {% for key,val in listVideoHot %}
                {% set artist=val.getSingerName() %}
                {% set thumb =  key == 0 ? val.image_path|imagePathThumb(552, 311, 'video') : val.image_path|imagePathThumb(185, 103, 'video') %}
              <div class="{{ key == 0 ? 'col-md-6':'col-md-3' }} col-xs-12 item" id="play-video-{{ val.id }}">
                  <a href="{{ url('video/detail', {'slug' : val.slug}) }}" class="image-play">
  	                <img width="100%" src="{{ thumb }}">
                      <i class="fa fa-play"></i>
                  </a>
                  <a href="{{ url('video/detail', {'slug' : val.slug}) }}" class="song-name ellipsis">{{ val.name }}</a>
                  <p class="singer-name ellipsis"><a href="{{ url('video/detail', {'slug' : val.slug}) }}">{{ artist }}</a></p>
              </div>
              {% endfor %}
         </div>
       </div>
    </div>
    {% endif %}
