{% if listSong|length > 0 %}
<div class="col-sm-6 col-md-5">
         <div class="mdl-1 mdl-radios">
            <div class="title-2">
              <a href="javascript:void(0)" class="txt"> Radio tương tự</a>
            </div>
            <div class="row">
                {% for val in listSong %}
                {% set artist=val|getSingerNameBySong %}
                {% set poster=val|getImagePathBySong %}
                  <div class="col-sm-12 col-md-12">
                       <div class="media">
                         <div class="media-left">
                           <a href="{{ url('radio/detail', {'slug' : val.slug}) }}">
                             <img class="media-object" src="{{poster}}" width="100" alt="...">
                           </a>
                         </div>
                         <div class="media-body">
                           <a href="{{ url('radio/detail', {'slug' : val.slug}) }}" class="song-name ellipsis">{{val.name}}</a>
                           <p class="singer-name ellipsis"><a href="{{ url('radio/detail', {'slug' : val.slug}) }}">{{artist}}</a></p>
                           <div class="bottom-info">
                               <span class="viewer"><i class="fa icon-headphone"></i>{{ (val.view_number=='' or val.view_number is null)?'0':val.view_number|formatNumber }}</span>
                               <!-- <span class="download"><i class="fa fa-heart-o"></i>1523</span> -->
                           </div>
                         </div>
                       </div>
                  </div>
                {% endfor %}
           </div>
        </div>

        </div>
{% endif %}
