<div class="banner-02" style="background-image:url({{imagePoster}})">
  <div class="container">
    <div class="">
      <img src="{{imagePoster}}" width="200" class="image"/>
        <div class="big-name"><h1>{{song.name}}</h1></div>
        <div>
          <a href="javascript:void(0)" class="like play-song-now" id="song-{{ song.slug }}"
          data-play="{{ song|encodeSongBase64(singerName,imagePoster,imageBlur) }}">
            <i class="fa icon-play2"></i> Play</a>
          {{include('@app/views/components/likeFacebook.twig',{'link':url('radio/detail',{'slug':song.slug})})}}
        </div>
        <div class="bottom-info">
            <span class="viewer"><i class="fa icon-headphone"></i>{{ (song.view_number=='' or song.view_number is null)?'0':song.view_number|formatNumber }}</span>
            <!-- <span class="download"><i class="fa fa-heart-o"></i>1523</span> -->
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-7">
        <div class="mdl-1 mdl-video-nominations">
           	 <div class="content less-article">
             	{{ song.lyric|raw }}
             </div>
             <!-- <span class="view-full-article">
                <span class="full-link">Xem đầy đủ</span>
                <span class="less-link">Xem thu gọn</span>
             </span> -->
           </div>
           <div class="mdl-comment">
               {{include('@app/views/components/commentFacebook.twig',{'link':url('radio/detail',{'slug':song.slug})})}}
           </div>

    </div>

    {{include('_related.twig',{'ralalted':related})}}
  </div>
</div>
