<div class="container">
  <div class="row">
<div class="col-sm-9 col-md-9">
        <div class="mdl-1 mdl-radios">
            <div class="title">
              <a href="#" class="txt"> Việt Nam</a>
              <a class="pull-right view-all" href="#"></a>
            </div>
            <div class="row">
              {% for val in listSong %}
              {% set artist=val|getSingerNameBySong %}
              {% set poster=val|getImagePathBySong %}
              {% set posterBlur=val|getImageBlurPathBySong %}
              <div class="col-sm-6 col-md-6">
                  <div class="media">
                    <div class="media-left">
                      <a href="{{ url('song/song-detail', {'slug' : val.slug}) }}">
                        <img class="media-object" src="{{poster}}" width="100" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="{{ url('radio/detail', {'slug' : val.slug}) }}" class="song-name ellipsis">
                        {{val.name}}</a>
                      <p class="singer-name ellipsis"><a href="{{ url('radio/detail', {'slug' : val.slug}) }}">{{artist}}</a></p>
                      <div class="bottom-info">
                          <span class="viewer"><i class="fa icon-headphone"></i>{{ (val.view_number=='' or val.view_number is null)?'0':val.view_number|formatNumber }}</span>
                          <span class="download"><i class="fa fa-heart-o"></i>{{ (val.download_number=='' or val.download_number is null)?'0':val.download_number|formatNumber }}</span>
                      </div>
                    </div>
                  </div>
             </div>
              {% endfor %}
           </div>
        </div>

        <!--Pagination-->
        {{include('@app/views/components/pagination.twig',{'pages':pages})}}
    </div>
    </div>
    </div>
