<div class="mdl-1 mdl-song-nominations">
    <div class="title">
      <a href="#" class="txt"> Bài hát liên quan</a>
    </div>
        {% for val in related %}
            {% set artist=val|getSingerNameBySong %}
            {% set poster=val|getImagePathBySong %}
            <div class="media">
              <div class="media-left">
                <a href="javascript:void(0)">
                  <img class="media-object" src="{{poster}}" width="48" alt="...">
                </a>
              </div>
              <div class="media-body">
                <a href="javascript:void(0)" class="song-name ellipsis">{{val.name}}</a>
                <p class="singer-name ellipsis">
                  <a href="javascript:void(0)">{{artist}}</a>
                </p>
              </div>
              <div class="media-right">
                <div class="right-info">
                    <span class="viewer"><i class="fa icon-headphone"></i><br>{{ (val.view_number=='' or val.view_number is null)?'0':val.view_number|formatNumber }}</span>
                    <span class="download"><i class="fa icon-download"></i><br>{{ (val.download_number=='' or val.download_number is null)?'0':val.download_number|formatNumber }}</span>
                    <span class="link-more-mobile" data-toggle="modal" data-target="#modal-popup">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
            </div>
              </div>
              <div class="overlay">
                <a href="#" class="bg-color-01"><i class="fa icon-play2"></i></a>
                <a href="#" class="bg-color-02"><i class="fa icon-add-playlist"></i></a>
                <a href="#" class="bg-color-03"><i class="fa icon-download"></i></a>
                <a href="#" class="bg-color-04"><i class="fa icon-share"></i></a>
              </div>
            </div>
        {% endfor %}



</div>
